.container {
  display: block;
  margin-top: -30px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

@media (max-width: 768px) {
  .form {
    flex-wrap: wrap;
  }
}
