.container {
  height: 24px;
  width: 24px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 5px 6px;
  color: var(--gray-300);
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  border-radius: 4px;
  color: var(--danger);
  background-color: var(--gray-400);
}
