:root {
  /* default */
  --white: #fff;
  --black: #000;
  /* produto */
  --purple: #8284fa;
  --purple-dark: #5e60ce;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  /* base */
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;
  --danger: #e25858;
}

:focus {
  outline: transparent;
}

html, body {
  box-sizing: border-box;
}

body,
input,
textarea,
button,
a {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--gray-100);
  background-color: var(--gray-600);
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
